[
    {
        "ACL_TABLE": {
            "{{ table_name }}": {
                "type": "{{ table_type }}",
                "policy_desc": "{{ table_name }}",
                "stage": "{{ table_stage }}",
                "ports": "{{ table_port_binding_list }}"
            }
        }
    }
]
