[
    {
        "ACL_RULE": {
            {% for rule in rules %}
            "{{ acl_table_name }}|{{ loop.index }}": {
                "PRIORITY": "{{ 10000 - loop.index }}",
                "{{ mirror_type }}": "{{ session_name }}",
                {% for qualifier, value in rule["qualifiers"].items() %}
                "{{ qualifier }}": "{{ value }}"{% if not loop.last %},{% endif %}
                {% endfor %}
            }{% if not loop.last %},{% endif %}
            {% endfor %}
        }
    }
]
